.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.balanceForm{
  text-align: center;
  border: solid 1px black;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.input1{
  margin-bottom: 10px;
}

.input2{
  margin-bottom: 10px;
}

.label1{
 margin-right: 10px;
}

.label2{
  margin-right: 10px;
}

.searchBtn1{
  
}

.searchBtn2{
  margin-bottom: 10px;
}

.transactionsForm{
  text-align: center;
  border: solid 1px black;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.transactionsList{
  text-align: center;
  border: solid 1px black;
  width: 880px;
  margin: auto;
  padding-top: 20px;
}

.transactionsTable{
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}